# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Python dependencies
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
venv.bak/

# PyCharm specific files
.idea/
*.iml
workspace.xml

# Local environment and config files
.env*
.env*.local

# OS-specific files
.DS_Store


# Alembic
alembic/versions/*
!alembic/versions/.keep  # If you want to keep the folder without specific migration files
alembic.ini
